<html>
  <head>
    <style>
      html {height: 100%;}
      body {background-color: powderblue; height: 100%;} h1 {color: blue;} p {color: red;}
      .image-box {width: 100vw; height: 100%; display: flex; justify-content: center; align-items: center;}
      img {width: 80%;}
    </style>
  </head>
  <body>
<div class="image-box"><img src="https://images.theconversation.com/files/304864/original/file-20191203-67028-qfiw3k.jpeg?ixlib=rb-1.1.0&rect=638%2C2%2C795%2C745&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip"></img></div>

  </body>
</html>